.preloader{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 25;
}

.loader{
    width: 100px;
    height: 100px;
    border: 10px solid #0f2959;
    border-radius: 50%;
    border-top-color: #db7f06;
    animation: 1s spin infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@keyframes spin {

    from{
        transform: translate(-50%,-50%) rotate(0deg);
    }

    to{
        transform: translate(-50%,-50%) rotate(360deg);
    }

}
