




nav{
    width: 100%;
    height: 60px;
    background: #344051
}

.logo{
    float: left;
    font-size: 28px;
    line-height: 60px;
    color: #fff;
    animation: opacity 1.3s ease-in;
}
nav{
    position: fixed;
}

.menu{
    float: left;
}

.menu li{
    float: left;
    font-size: 16px;
    color: white;
    line-height: 60px;
    margin-right: 36px;
    text-transform: uppercase;
    opacity: 0;
}
.menu li a{
    text-decoration: none;
    color: white;
    
}
.menu li a:hover{
    color: #da7d02;
}
    

.menu li:active{
    transform: scale(1.1)
}
.menu li a:visited{
    color: white;
}

.menu li:nth-child(1){
    animation: opacity 1s ease-in forwards;
    animation-delay: 0.32s;
    
}
.menu li:nth-child(2){
    animation: opacity 1s ease-in forwards;
    animation-delay: 0.53s;
    
}
.menu li:nth-child(3){
    animation: opacity 1s ease-in forwards;
    animation-delay: 0.74s;
    
}
.menu li:nth-child(4){
    animation: opacity 1s ease-in forwards;
    animation-delay: 0.89s;
    
}
.menu li:nth-child(5){
    animation: opacity 1s ease-in forwards;
    animation-delay: 1s;
    
}
.menu li:nth-child(6){
    animation: opacity 1s ease-in forwards;
    animation-delay: 1.08s;
    
}
.main{
    width: 100%;
    height: 100vh;
    background: url(../img/Парень.png) 90% 100%/auto 85% no-repeat, url(../img/фон.jpg) center/cover no-repeat;

}


.title__container{
    color: #2c384a;
    text-align: center;
}


.title__container h1{
    font-size: 60px;
    font-weight: bold;
}
.title__container h4{
    margin-top: 48px;
    font-size: 22px;
    color: #79818d;
}
.title__container .main_input1{
    height: 40px;
    width: 95px;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}
.title__container .main_input2{
    height: 40px;
    width: 126px;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}

.title__container .main_input2:hover{
    transform: scale(1.06)
}

.title__container .main_input1:hover{
    transform: scale(1.06)
}

@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@media (max-width: 991px){
    .title__container, .title__container h4, .title__container input{
        color: white;
    }
        color: white;
    }

.about_me_container h2{
    font-size: 33px;
    margin: 110px 0 30px;
    text-transform: uppercase;
    
}
 
.about_me_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0px auto 60px;
    opacity: 1;
}
  
.photo1{
    display: block;
    margin: 0 auto;
 
}

.about_me_container .p1{
    margin-top:25px;
    font-size: 17px;
    
}
.about_me_container .p2{
     margin-top:25px;
     font-size: 17px;
}

.about_me_container a{
    display: block;
    margin: 40px auto;
    line-height: 30px;
    height: 33px;
    text-align: center;
    width: 147px;
    background: url(../img/input.png) 6%/auto no-repeat;
    color: #6f707e;
    border: 2px solid #6f707e;
    padding-left: 21px;
    border-radius: 6px;
    text-decoration: none;
}
.about_me_container a:hover{
    transform: scale(1.034)
}


.skils{
    background:url(../img/bg.jpg) center/cover no-repeat;
    margin-top: 64px;

}

.skills_container h2{
    text-transform: uppercase;
    font-size:36px;
    font-weight: 500;
    color: #263244;
    text-align: center;
    padding-top: 95px;
}

.skills_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 32px auto 109px;
    opacity: 1;
}

.skills_item h3{
    color: #cf7600;
    margin-bottom: 14px;
    font-size: 21px;
}

.skills_item img{
    margin-bottom: 35px;
}

.skills_item p{
    font-size: 15px;
    color: #3f495a;
}

/*.cases{
   height: 1000px;
}
*/
.cases h2{
    margin-top: 106px;
    text-transform: uppercase;
    color: #384354;
    text-align: center;
    font-size: 37px;
}

.cases hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 31px auto 37px;
    opacity: 1;
}

.cases_p1{
    text-align: center;
    margin-bottom: 42px;
}

.cases1{
    
}

.cases img{
    display: block;
    margin-bottom: 30px;
    max-width: 100%;
}

.cases h3{
    text-transform: uppercase;
    padding-bottom: 11px;
    padding-top: 12px;
    color: #384354;
    font-weight: bold;
    font-size: 25px;
}

.cases p{
    color: #3f495a;
    font-size: 19px;
}

.cases h4{
    padding-bottom: 6px;
    padding-top: 12px;
    color: #384354;
    font-weight: bold;
    font-size: 24px;
}

.cases2{

}

.cases a{
    display: block;
    
    background: #63b5ae;
    height: 44px;
    line-height: 44px;
    text-transform: uppercase;
    color: white;
    width: 200px;
    border-radius: 6px;
    padding-left: 55px;
    text-decoration: none;
    
}
.cases a:hover{
    background: #295b57;
}







































































































































































