body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051
}
.logo{
    float: left;
    font-size: 28px;
    line-height: 60px;
    color: #fff;
    padding-left: 388px;        
}
.menu{
    float: left;
    padding-left: 432px;
    
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
.menu a{
    color: white;
}
.main{
    width: 100%;
    background:url(../img/Парень.png) 90% 100%/auto 85% no-repeat , url(../img/фон.jpg) center/cover no-repeat;
    height: calc(100% - 60px);
}
.title__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center
}
.title__container h1{
    font-size: 60px;
    font-weight: bold;
}
.title__container h4{
    margin-top: 48px;
    font-size: 22px;
    color: #79818d;
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}
.about_me_container{
    height: 590px;
    margin: 0 auto;
    padding-bottom: 100px;
}


.about_me_container h2{
    text-align: center;
    width: 156px;
    font-size: 33px;
    margin: 110px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
} 

.about_me_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0px auto 60px;
}

.photo1{
    display: block;
    margin: 0px auto; 
}
.about_me_container .p1{
    margin: 25px 0px 0px 602px;
    font-size: 17px;
    
}
.about_me_container .p2{
     margin: 25px 0px 0px 602px;
     font-size: 17px;
}


.skils{
    background:url(../img/bg.jpg) center/cover no-repeat;
    width: 100%;
    height: 523px;
    margin-top: 64px;
    
}

.about_me_container a{
    display: block;
    margin: 40px auto;
    line-height: 30px;
    height: 33px;
    text-align: center;
    width: 147px;
    background: url(../img/input.png) 6%/auto no-repeat;
    color: #6f707e;
    border: 2px solid #6f707e;
    padding-left: 21px;
    border-radius: 6px;
}

.skills_container h2{
    text-transform: uppercase;
    font-size:36px;
    font-weight: 500;
    color: #263244;
    text-align: center;
    padding-top: 95px;
}

.skills_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 32px auto 109px;
}

.skills_item{
    float: left;
    width: 225px;
    margin:0 30px;
}
.skills_container{
    width: 1150px;
    text-align: center;
    margin: 0 auto;
}
.skills_item h3{
    color: #cf7600;
    margin-bottom: 14px;
    font-size: 21px;
}

.skills_item img{
    margin-bottom: 35px;
}

.skills_item p{
    font-size: 15px;
    color: #3f495a;
}

.cases{
   height: 1000px;
}

.cases h2{
    margin-top: 106px;
    text-transform: uppercase;
    color: #384354;
    text-align: center;
    font-size: 37px;
}

.cases hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 31px auto 37px;
}

.cases_p1{
    text-align: center;
    margin-bottom: 42px;
}

.cases1{
    height: 110px;
    float: left;
    margin-left: 371px;
    margin-right: 100px;
}

.cases img{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.cases h3{
    text-transform: uppercase;
    padding-bottom: 11px;
    padding-top: 12px;
    color: #384354;
    font-weight: bold;
    font-size: 25px;
}

.cases p{
    color: #3f495a;
    font-size: 19px;
}

.cases h4{
    padding-bottom: 6px;
    padding-top: 12px;
    color: #384354;
    font-weight: bold;
    font-size: 24px;
}

.cases2{
    width: 1500px;
    display: block;
}

.cases a{
    display: block;
    margin: 23px 0px 0px 371px;
    background: #63b5ae;
    height: 44px;
    line-height: 44px;
    text-transform: uppercase;
    color: white;
    width: 200px;
    border-radius: 6px;
    padding-left: 50px;
}

.calc{
    height:860px;
}
.calc h2{
   text-align:center;
    font-weight: 700;
    font-size: 48px;
    margin-top: 200px;
    margin-bottom: 62px;
    color: #1c2534;
}

.calc h3{
    text-transform: uppercase;
    font-size: 24px;
    color: #1c2534;
    margin-left: 502px;
    margin-bottom: 22px;
    margin-top: 50px;
}

.My_select{
   margin-left: 502px;
   width: 891px;
   background-color: #eee;
   height: 57px;
}


.calc hr{
   width: 891px;
   background: #d1d1d1;
   height: 3px;
   margin: 37px 0 28px 502px;
   text-align: center; 
}
.calc select{
    font-size:17px;
}

.total{
  padding-left:502px;
}

.total_1{
    margin-bottom: 27px;
    font-size: 21px;
    margin-right: 515px;
}

.total .price1{
    font-size: 29px;
    float: right;
    position: relative;
    bottom:20px;
}
.total .price2{
    font-size: 29px;
    float: right;
    position: relative;
    bottom:21px;
}

.total_2{
    font-size: 21px;
    margin-right: 515px;
}

.statistics{
    height: 500px;
    width: 100%;
    background: url(../img/bg2.jpg)
}

.statistics_container h2{
   text-align: center;
    color: #323e4f;
    text-transform: uppercase;
    padding-top:95px;
    font-size: 35px;
    font-weight: 500;
}
.statistics hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 72px;
    margin: 32px auto 90px;
}


.statistics_container{
    height: 500px;
    width: 1140px;
    margin: 0 auto;
}

.statistics_item{
    float: left;
    display:inline-block;
    margin-right: 174px;
    text-align: center;
}

.statistics_container h3{
   margin: 33px 0px 30px;
   color: #323e4f;
   font-weight: 700;
   font-size: 41px;
}

.h3_23{
   position: relative;
   left:7px;
}

.reward{
    position: relative;
    right:29px;
}

.statistics_container p{
    text-transform: uppercase;
    color: #323e4f;
}

.reviews{
    height:560px;
}
.reviews h2{
    text-align: center;
    margin-top: 110px;
    text-transform: uppercase;
    color: #243042;
    font-size: 31px;
}

.reviews hr{
     height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 35px auto 59px;
}
.reviews img{
    display: block;
    margin: 0 auto 36px;
    
}
.reviews p{
    display: block;
    width: 700px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px; 
}

.reviews span{
    color: #243042;
    font-weight: 600;
}

.review_creator{ 
    margin-top:43px; 
}

.contacts{
    height: 808px;
    background: url(../img/bg3.jpg)
}

.contacts h2{
    text-align: center;
    padding-top:92px;
    text-transform: uppercase;
    font-size: 36px;
    color: white;
}
.contacts hr{
height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 32px auto 59px;
}

.contacts p{
    display: block;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 51px;
}

.contacts_item{
    float: left;
    margin-right:100px;
}

.contacts_container{
    width: 620px;
    margin: 0 auto;
}

.contacts_container div{
    color: white;
    text-align: center;
}

.contacts_companyname{
    margin-top: 12px;
}

.contacts_number{
   margin-top: 12px; 
}

.contacts h3{
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size:21px;
    margin-bottom: 46px;
}

.contacts textarea{
    display: block;
    margin-top: 15px;
    margin: 0 auto;
    width: 730px;
    height: 96px;
    resize: none;
    padding-top: 9px;
    padding-left: 10px;
    font-size:15px; 
}

.contacts_input1{
    margin-left: 588px;
    margin-bottom: 14px;
    width: 355px;
    height: 34px;
    padding-left: 8px;
    margin-right: 15px;
    
}

.contacts_input2{
    width: 355px;
    height: 34px;
    padding-left: 8px;
}


.contacts input[type="submit"]{
    display: block;
    margin: 27px auto 0px;
    background: none;
    color: white;
    border: 2px solid white;
    height: 43px;
    width: 120px;
    border-radius: 5px;
    font-size: 16px;
}

.social_networks_img1{
    display: inline-block;
    margin-left: 753px;
    margin-top: 43px;
    margin-right: 51px;
}

.social_networks_img2{
   display: inline-block;
   margin-right: 51px;
   margin-top: 47px;
}

.social_networks_img3{
    display: inline-block;
    margin-top: 45px;
    margin-right: 48px;
    
}

.social_networks_img4{
    display: inline-block;
    margin-top: 45px;
    margin-right: 49px;
    
}

.social_networks_img5{
    display: inline-block;
    margin-top: 45px;
    margin-right: 50px;
    
}

.social_networks_img6{
    display: inline-block;
    margin-top: 46px;
}

.copyright{
    height: 100px;
    width: 100%;
    background-color:#354051;
    text-align: center;
    line-height: 100px;
}

.copyright_text{
    color: white;
    font-size: 15px;
    
}






